<!DOCTYPE html>
<html>
<head>
    <title>Reading List</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"></link>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <h2>All Books</h2>
    <div th:unless="${#lists.isEmpty(books)}">
        <dl th:each="book : ${books}">
            <dt class="bookHeadline">
                <span th:text="${book.title}">Title</span> by
                <span th:text="${book.author}">Author</span>
                (ISBN: <span th:text="${book.isbn}">ISBN</span>)
            </dt>
            <dd class="bookDescription">
            <span th:if="${book.description}"
                  th:text="${book.description}">Description</span>
                <span th:if="${book.description eq null}"> No description available</span>
            </dd>
            <dt class="bookView">
                <a th:href="${'/readingList/book/' + book.id}">View</a>
            </dt>
            <dt class="bookEdit">
                <a th:href="${'/readingList/book/edit/' + book.id}">Edit</a>
            </dt>
            <dt class="bookDelete">
                <a th:href="${'/readingList/delete/' + book.id}">Delete</a>
            </dt>
        </dl>
    </div>
    <div th:if="${#lists.isEmpty(books)}">
        <p>You have no books in your book list</p>
    </div>

</div>

</body>
</html>